# General
*.log
*.env
*.pyc
__pycache__/
db.sqlite3
db.sqlite3-journal
.DS_Store
.idea/
.vscode/
audio/*
audio/
performance_log.txt
lid.176.ftz

# Flask-specific
server/instance/
server/*.pyc
server/__pycache__/
server/*.pyo
server/*.pyd
server/.Python
server/env
server/venv
server/ENV
server/env.bak
server/venv.bak
server/*.db
server/*.sqlite
server/audio/*

# React-specific
app/node_modules/
app/.env.local
app/.env.development.local
app/.env.test.local
app/.env.production.local
app/npm-debug.log*
app/yarn-debug.log*
app/yarn-error.log*
app/package-lock.json
app/yarn.lock
app/build/

# macOS specific
.DS_Store

# Windows specific
Thumbs.db
Desktop.ini

# Linux specific
*~

# JetBrains IDEs
.idea/

# Visual Studio Code
.vscode/
db.json
