# Web server
Flask==3.0.0
Flask-Cors==4.0.0
Flask-SocketIO==5.3.6
python-socketio==5.10.0
python-engineio==4.8.0

# Audio processing
webrtcvad==2.0.10
pydub==0.25.1
openai-whisper
fasttext-wheel==0.9.2

# Utils
python-dotenv
requests==2.31.0

# Required dependencies for the above
numpy<2.0.0
torch
torchaudio 